@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.footer-section {
    background: #2c2c2c;
    font-family: "K2D", serif;
}

.footer-heading span {
    color: #ff640a;
    font-size: 20px;
     margin-top: 20px !important;
}

.footer-heading h4 {
    color: #ff640a;
}

.footer-content p {
    color: #D1D5DB;
}

.footer-item {
    margin-bottom: 8px;
}

.footer-link {
    text-decoration: none;
    color: #D1D5DB;
    transition: .1s linear;
    font-size: 17px;
}

.footer-link:hover {
    text-decoration: none;
    color: #ff640a;
}

.copyright-section {
    background: #ff640a;
}

.copyright-section p {
    font-size: 18px;
}